*{
    box-sizing:border-box ;
}

body{
    margin: 0;
}
.nav{
    background-color: #26a23b;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
    padding: 0rem;
}
.nav a{
    color: inherit;
}